:root {
  --cursive-font-family: "Borel", cursive;
}

.nav-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  height: 70px;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2) ray;
}

h1 {
  font-family: var(--cursive-font-family);
  margin: 0px;
  padding-left: 10px;
  font-size: 2rem;
}

.add {
  margin-right: 10px;
  background-color: rgb(255, 85, 85);
  border: none;
  border-radius: 10px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

.add:hover {
  background-color: rgb(86, 86, 244);
}

.body {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  height: 100vh;
  width: 100%;
  margin: 0px;
}

.footer {
  font-family: var(--cursive-font-family);
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: rgb(255, 247, 237);
  border-radius: 1rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input {
  margin: 10px;
}

.form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.check-box-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.check-box-div > p {
  width: 350px;
}

.submit-button {
  margin-right: 10px;
  background-color: rgb(255, 85, 85);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
